      .post {
        width: 96%;
        background-color: black;
        border-style: solid;
        border-width: 3px;
        border-color: white;
        border-radius: 5px;
        padding: 10px;
        margin: 10px 10px 10px 0px;
      }

      .digipost {
        width: 96%;
        padding: 10px;
        margin: 10px 10px 10px 0px;
}

       #blog {
      height: 2000px;
      overflow-y:scroll;
}

       .liveblog {
      height: 800px;
      overflow-y:scroll;
}

    @media only screen and (max-width: 600px) {
      post {width: 96%} ;
      post {
                display: flex;
            }
    }