body {
  background-image: url("https://fluffyfield.github.io/assets/GonerBg.gif") ;
  background-size: cover ;
  font-family: "PixelOperatorMono" ;
  color: white ;
  font-size: 150% ;
  
cursor: url('https://fluffyfield.github.io/assets/heart.png'), auto;
}

#container {
                max-width: 900px;
                margin: 0 auto;
  width: 50%;
  height: 50%;
  padding: 10px;
            }
main{
 margin: auto;
    margin-top: auto;
  width: 660px;
  height: 430px;
  margin-top: 170px;
  position: relative;
  }
  
@font-face {
    font-family: "PixelOperatorMono";
    src: url('https://fluffyfield.github.io/fonts/PixelOperatorMono.ttf') format('truetype') ;
}
@font-face {
    font-family: "PixelOperatorMono";
    src: url('https://fluffyfield.github.io/fonts/PixelOperatorMono-bold.ttf') format('truetype') ;
    font-weight: bold;
}

a:link {
  color: yellow;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
} 

@media only screen and (min-width: 900px) {
  #mobileonly {
    display: none;
  }
}


            @media only screen and (max-width: 800px) {
                #flex {
                    flex-wrap: wrap;
                }

                main {
                    order: 1;
                    width: 100%;
                    flex-wrap: wrap;
                }
